/*Arquivo de configuração inicial*/ 
  :root {
    --vermelho: #E50914;
    --preto:#141414;
    --cinzafonte: #aaa;
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*ELEMENTOS DE BASE*/

body {
  background: var(--preto);
  font-family: 'Arial', Times, serif;
  color: white;
}
.logo {
  color: var(--vermelho);
  font-family: 'Arial Black', Times, serif;
  font-size: 40px;
  margin-left: 5px;
}
header nav a {
  color: var(--cinzafonte);
  margin-right: 10px;
}
header nav a:hover {
  color:  #fff;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*CARD FILME PRINCIPAL*/

.principal {
  font-size: 16px;
  background:linear-gradient(rgba(0, 0, 0, .60), rgba(0, 0, 0, .60)100%), url('/img/capa-house.jpg');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}
.titulo {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 15%;
  /*margin-bottom: 20px;*/
}
.botao {
  background-color: rgba(0, 0, 0, .60);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .5s ease all;
  border-radius: 5px;
}
.botao:hover{
  background-color: white;
  color: black;
}
  .botao i{
    margin-right:8px;
  }
.container{
  margin-left:20px;
}

.principal .container{
  max-width: 70%;
}

/*--Carrosel Owl--*/
.box-filme{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}
.carrosel-owl{
  margin-top: 10px;
}